{% extends 'ScaredForumBundle::base.html.twig' %}

{% block body %}

<table class="record_properties" border="1">
    <tbody>
        <tr>
            <td style="font-weight: bold;">{{ entity.name }}</td>
        </tr>
        <tr>
            <td>{{ entity.description }}</td>
        </tr>
    </tbody>
</table>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h3>Новое сообщение</h3>
        <form action="{{ path('post_create') }}" method="post" {{ form_enctype(post_form) }}>
            {{ form_widget(post_form) }}
            <p>
                <button type="submit">Create</button>
            </p>
            <input type="hidden" name="tid" value="{{ entity.id }}">
            <input type="hidden" name="fid" value="{{ entity.forum.id }}">
        </form>
    {% endif %}
    {{ tinymce_init() }}
{% endblock %}

