{% extends "ScaredForumBundle::base.html.twig" %}

{% block body %}


<div id="login_form" class="clearfix">
    <div id="member_login">
        <h2 class="maintitle">Вход</h2>

        <div class="row1">

            <form action="{{ path("fos_user_security_check") }}" method="post">

                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                <div id="regular_signin">
                    <h3 class="bar">Вход на форумы, да</h3>

                    {% if error %}
                        <div class="message error">
                            <ul class="error_list">
                                <li>{{ error|trans({}, 'FOSUserBundle') }}</li>
                            </ul>
                        </div>
                    {% endif %}


                    <ul class="ipsForm ipsForm_vertical ipsPad_double left">
                        <li class="ipsField">
                            <label class="ipsField_title" for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                            <p class="ipsField_content">
                                <input class="input_text" type="text" id="username" name="_username" value="{{ last_username }}" size="50" required="required"/>
                                <br />
                                <span class="desc ipsType_smaller">Еще не зарегистрированы?&nbsp;<a title="Регистрация" href="{{ path('fos_user_registration_register') }}">Регистрация</a></span>
                            </p>

                        </li>
                        <li class="ipsField">
                            <label class="ipsField_title" for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                            <p class="ipsField_content">
                                <input class="input_text" type="password" id="password" name="_password" required="required" size="50" />
                                <br />
                                <span class="desc ipsType_smaller"><a title="Восстановить пароль" href="{{ path('fos_user_resetting_check_email') }}">Восстановить пароль?</a></span>
                            </p>
                        </li>
                    </ul>
                </div>
                <hr>
                <fieldset id="signin_options">
                    <legend>Sign in options</legend>
                    <ul class="ipsForm ipsForm_vertical ipsPad_double">
                        <li class="ipsField ipsField_checkbox clearfix">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                            <p class="ipsField_content">
                                <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                                <br />
                                <span class="desc lighter">Не нажимать в интернет кафе!</span>
                            </p>
                        </li>
                    </ul>
                </fieldset>



                <fieldset class="submit">
                    <input type="submit" tabindex="3" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"
                           class="input_submit"> or <a class="cancel" title="Cancel"
                                                       href="{{ path('forumgroups') }}">Cancel</a>
                </fieldset>


            </form>
        </div>
    </div>
</div>

{% endblock body %}
